# hidden files
.*
!.nvmrc
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.ruby-version
!.stylelintrc.json
!.markdownlint.json

# bundler cache
_site
vendor
#Gemfile.lock

# rubygem
*.gem

# npm dependencies
node_modules
