# hidden files
.*
!.nvmrc
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.ruby-version
!.stylelintrc.json
!.markdownlint.json

# bundler cache
_site
vendor
#Gemfile.lock

# rubygem
*.gem

# npm dependencies
node_modules


# Bundler cache
.bundle
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata

# RubyGems

# NPM dependencies
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist
